<div class="wrapper">
  <!-- Va a englobar todo el formulario con la cabecera -->
  <div class="section-registro">
    <div class="body-registro">
      <div class="row mt-3 mb-3">
        <div class="form-group col-12">
          <label class="title-user" for="tipo_usuario">Ingresa los datos del maestro</label>
        </div>
      </div>
      <!-- Campos del formulario -->

      <!--Sección de NRC--NOMBRE -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>NRC</mat-label>
        <input matInput [(ngModel)]="maestro.nrc_materia" placeholder="Escribe el NRC de la Materia">
      </mat-form-field>
      <div *ngIf="errors.nrc_materia" class="invalid-feedback">{{ errors.nrc_materia}}</div>

      <!--Sección de Nombre de la materia--APELLIDOS -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Nombre de la Materia</mat-label>
        <input matInput [(ngModel)]="maestro.nombre_materia" placeholder="Escribe el nombre de la Materia">
      </mat-form-field>
      <div *ngIf="errors.nombre_materia" class="invalid-feedback">{{ errors.nombre_materia }}</div>


      <!--Sección de fecha de nacimiento -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="maestro.fecha_nacimiento" (focus)="picker.open()" placeholder="Agregar fecha" (dateChange)="changeFecha($event)" type="string">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div *ngIf="errors.fecha_nacimiento" class="invalid-feedback">{{ errors.fecha_nacimiento }}</div>

      <!--Seccion de la Materia--CUBICULO-->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Seccion</mat-label>
        <input matInput [(ngModel)]="maestro.seccion_materia" placeholder="Escribe la seccion de la Materia">
      </mat-form-field>
      <div *ngIf="errors.seccion_materia" class="invalid-feedback">{{ errors.seccion_materia }}</div>


      <!--Seccion de salon--TELEFONO-->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Salon</mat-label>
        <input matInput [(ngModel)]="maestro.salon_materia" mask='(000) 000-0000' placeholder="Escribe el salon de la Materia">
      </mat-form-field>
      <div *ngIf="errors.salon_materia" class="invalid-feedback">{{ errors.salon_materia}}</div>


       <!--Sección de Programa Educativo -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Programa educativo</mat-label>
        <mat-select [(ngModel)]="maestro.programa_materia">
          <mat-option *ngFor="let area of areas" [value]="area.viewValue">
            {{area.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.programa_materia" class="invalid-feedback">{{ errors.programa_materia }}</div>

      <!--Sección de los dias a impartir la materia -->
      <div class="select-materias">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-materias" for="tipo_usuario">Selecciona los dias a impartir</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let dia of dias; let i = index">
          <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)" value="{{dia.nombre}}" [checked]="revisarSeleccion(dia.nombre)">
              <div class="d-checkbox-nombre">{{dia.nombre}}</div>
          </mat-checkbox>
        </div>
      </div>

      <!--Sección de botones -->
      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
      </div>


    </div>
  </div>
</div>
