<div class="wrapper" datos_user="id">
  <!-- Va a englobar todo el formulario con la cabecera -->
  <div class="section-registro">
    <div class="header-registro">
      <!-- Inyectamos el componente navbar para la pantalla de registro de materias-->
      <app-navbar ></app-navbar>
    </div>
    <div class="body-registro">
      <div class="row mt-3 mb-3">
        <div class="form-group col-12">
          <label class="title-user" for="tipo_usuario">Ingresa datos de la Materia</label>
        </div>
      </div>
      <!-- Campos del formulario -->

      <!--Sección de NRC--NOMBRE -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>NRC</mat-label>
        <input matInput [(ngModel)]="materia.nrc_materia" placeholder="Escribe el NRC de la Materia" [disabled]="editar">
      </mat-form-field>
      <div *ngIf="errors.nrc_materia" class="invalid-feedback">{{ errors.nrc_materia}}</div>

      <!--Sección de Nombre de la materia--APELLIDOS -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Nombre de la Materia</mat-label>
        <input matInput [(ngModel)]="materia.nombre_materia" placeholder="Escribe el nombre de la Materia">
      </mat-form-field>
      <div *ngIf="errors.nombre_materia" class="invalid-feedback">{{ errors.nombre_materia }}</div>

      <!--Sección de Hora Inical de la materia -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hora inicial</mat-label>
        <input matInput [ngxTimepicker]="picker2" [format]="24"  (timeSet)="changeHora($event)" [(ngModel)]="materia.hora_inicial" placeholder="Agregar hora" type="string">
        <ngx-material-timepicker #picker2></ngx-material-timepicker>
      </mat-form-field>
      <div *ngIf="errors.hora_inicial" class="invalid-feedback">{{ errors.hora_inicial }}</div>

      <!--Sección de Hora Inical de la materia -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Hora final</mat-label>
        <input matInput [ngxTimepicker]="picker3" [format]="24" (timeSet)="onTimeSet($event)" [(ngModel)]="materia.hora_final"  placeholder="Agregar hora" type="string">
        <ngx-material-timepicker #picker3></ngx-material-timepicker>
      </mat-form-field>
      <div *ngIf="errors.hora_final" class="invalid-feedback">{{ errors.hora_final }}</div>

      <!--Seccion de la Materia--CUBICULO-->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Seccion</mat-label>
        <input matInput [(ngModel)]="materia.seccion_materia" placeholder="Escribe la seccion de la Materia">
      </mat-form-field>
      <div *ngIf="errors.seccion_materia" class="invalid-feedback">{{ errors.seccion_materia }}</div>


      <!--Seccion de salon--TELEFONO-->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Salon</mat-label>
        <input matInput [(ngModel)]="materia.salon_materia" mask='(000) 000-0000' placeholder="Escribe el salon de la Materia">
      </mat-form-field>
      <div *ngIf="errors.salon_materia" class="invalid-feedback">{{ errors.salon_materia}}</div>


       <!--Sección de Programa Educativo -->
      <mat-form-field class="mat-input" appearance="outline">
        <mat-label>Programa educativo</mat-label>
        <mat-select [(ngModel)]="materia.programa_materia">
          <mat-option *ngFor="let programa of programas" [value]="programa.viewValue">
            {{programa.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="errors.programa_materia" class="invalid-feedback">{{ errors.programa_materia }}</div>

      <!--Sección de los dias a impartir la materia -->
      <div class="select-materias">
        <div class="row mt-3 mb-3">
          <div class="form-group col-12">
            <label class="title-materias" for="tipo_usuario">Selecciona los dias a impartir</label>
          </div>
        </div>
        <div class="checkbox-group" *ngFor="let dia of dias; let i = index">
          <mat-checkbox class="checkbox-item opc-sc" name="opsc" (change)="checkboxChange($event)" value="{{dia.nombre}}" [checked]="revisarSeleccion(dia.nombre)">
              <div class="d-checkbox-nombre">{{dia.nombre}}</div>
          </mat-checkbox>
        </div>
      </div>

      <!--Sección de botones -->
      <div class="section-buttons">
        <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
        <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
        <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
      </div>


    </div>
  </div>
</div>
